body{
    background-color: black;
}

#tittle{
    display: flex;
    font-size: 60px;
    justify-content: center;
    color:whitesmoke;
}


#profileInfo{
    color:whitesmoke;
    font-size: 40px;
    display: flex;
    border-radius: 50px;
    justify-content: space-around;

}
