body{
    text-align:center;
    background-color: black;
}
#tittle{
    display: flex;
    font-size: 60px;
    justify-content: center;
    color:whitesmoke;
}
#profileInfo{
    color:whitesmoke;
    display: flex;
    border-radius: 50px;
    justify-content: space-around;   
}
.profile{
    border-radius: 50px;
}

/* .text{
    display: flex;
} */
p{
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
#foto1{
    width: 480px;
    height: 480px;
}