body{
    text-align: center;
    font-family: 'Arial';
    background-color: black;
    color:whitesmoke;
}
#cabecera {
    text-align: center;
    font-size: 200%;
    background-color: rgb(84, 5, 5);
    color: whitesmoke
}
#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid white;
    margin: 0 auto;
}
#container h1{
    font-size: 20px;
}